<p>{{ location.street }} {{ location.housenumber }}</p>
<p>{{ location.zipcode }} {{ location.city }}</p>
<p>{{ location.email }}</p>
<p>{{ location.phone }}</p>
<p>{{ location.coordinates }}</p>
<p>{{ location.isHeadquarters }}</p>