{% extends "base.twig" %}

{% block content %}
    <section class="hero">
        <h1>{{ event.title }}</h1>
    </section>

    <section class="content">
        <p>{{ event.startdate }} - {{ event.enddate }}</p>
        <p>{{ event.starttime }} - {{ event.endtime }}</p>
        {% if (event.link is defined) %}
            {% include './partials/components/link.twig' with {'link': event.link, 'classnames': 'hyperlink'} %}
        {% endif %}
        {% if (event.location is defined) %}
            {% include './partials/cards/card-location.twig' with {'location': event.location} %}
        {% endif %}
        {% if (event.contact is defined) %}
            {% include './partials/cards/card-person.twig' with {'person': event.contact} %}
        {% endif %}
    </section>


    {% if (event.image) %}
        <section class="image">
            {% include './partials/components/picture.twig' with { 'picture': event.image } %}
        </section>
    {% endif %}

    <section class="paragraphs">
        {% if event.paragraphs %}
            {% for paragraph in event.paragraphs %}
                {% include './partials/paragraphs/paragraphs.twig' %}
            {% endfor %}
        {% endif %}
    </section>


    {% block footer %}
        {% include './partials/general/footer.twig' %}
    {% endblock %}

    <hr/>
    <pre class="dump">
    {{ dump(event) }}
    </pre>
    <hr/>
{% endblock %}
